html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  padding-top: 40px;
}
h1,
h2,
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px 0;
}
a {
  text-decoration: none;
}

/* HEADER & NAV */
body > header {
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(245, 183, 6);
  padding-bottom: 10px;
}
h1 {
  line-height: 1.1;
}
header img {
  width: 150px;
  padding-bottom: 20px;
}
header p {
  margin: 5px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
nav ul {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  display: flex;

  gap: 8px;
}
nav ul li {
  margin: 5px;

  white-space: nowrap;
}
nav a {
  padding: 20px 0 40px 20px;
  text-decoration: none;
  color: #024890;

  font-family: "Franklin Gothic Medium";
}

a:hover {
  opacity: 0.8;
}

@media (min-width: 781px) {
  nav {
    width: 250px;
    float: right;
  }
  nav ul {
    justify-content: end;
  }
}
@media (max-width: 780px) {
  header {
    text-align: center;
  }
  nav ul {
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid 1px solid rgb(245, 183, 6);
  }
  nav a {
    padding: 20px;
  }
}

/* MAIN */
main img {
  width: 100%;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  border-top: 2px solid rgb(245, 183, 6);
  margin-top: 50px;
}
footer img {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 150px;
}

/* BLOG */
article {
  margin-bottom: -40px;
  margin-top: -30px;
}
.article1 {
  background-image:
    linear-gradient(rgba(4, 64, 141, 0.7), rgba(2, 36, 80, 0.7)),
    url("images/Webster-Uni-Photo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
article:last-of-type {
  border: none;
  padding: 0;
}
article h2 {
  margin-bottom: 0;

  color: white;
  font-size: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

article p {
  color: white;
  font-family: "Franklin Gothic Medium";

  padding-left: 50px;
  padding-bottom: 130px;
}

.campus-posts > header h3 {
  color: black;
  padding-left: 20px;
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.box-container {
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  padding-bottom: 50px;
}

.image-box {
  width: 400px;
  height: 400px;

  background-image:
    linear-gradient(rgba(4, 64, 141, 0.9), rgba(2, 36, 80, 0.9)),
    url("images/browning-hall.jpg");
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;

  text-align: center;
  display: flex;
}

.image-box:hover {
  opacity: 0.8;
}
.image-box h3 {
  color: white;
}

.latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 0;
}

.latest-news img {
  width: 800px;
}

.latest-news img:hover {
  opacity: 0.8;
}

/* CONTACT */
